ul{
    list-style-type: none;
}
body, input, button, a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 21vh;
}
#google{
    height: 92px;
    aspect-ratio: auto 272 / 92;
    align-self: flex-end;
}
.rad-cir{
    border-radius: 25%;
}
.flex{
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
flex-wrap: nowrap;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin: .5rem;
}
a{
    text-decoration: none;
}
nav a{
    padding: .5rem;
}
.righty{
    display: flex;
}
.lefty{
    display: flex;
}
.blocky{
    display: block;
    text-align: center;
    width: 100%;
}
footer{
    background: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}
.wide{
    width: 100%;
}
.footright{
display: flex;
align-content: space-between;
}
.footleft{
    display: flex;
    justify-content: space-between;
}
 .footleft  a{
    padding: 15px;
}
.footright  a{
    padding: 15px;
}
.center{
    text-align: center;
}
.formdiv{
    width: 55vw;
    height: 5vh;
    border:  2px solid grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20% 20% 20% 20%;
}
form input{
    margin: auto;
    width: 50vh;
    height: 30px;
    border: none;
}
#mic{
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    transform: translate(900%,-220%);
    border: none;
    background: transparent;
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
#glass{
    width: 20px;
    height: 20px;
    display: block;
    margin: right;
    transform: translate(100%,-390%);
    border: none;
    background: transparent;
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.searchpar{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}